*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #76cfa9;


}


.wrapper{
    width: 420px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;

}

.wrapper h1 {
font-size: 20px;
text-align: center;
font-variant: small-caps;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    background: slateblue;
    margin: 30px  0;
    
}

.input-box input {
    width: 100%;
    height: 100%;
    background:rgb(241, 242, 243) ;
    border: none;
    outline: none;
    border: 2px solid aliceblue;
    font-size: 15px ;


}

.input-box input::placeholder {
    padding: 10px 42px 20px 20px ;
    font-size: 15px;
    
}

 .spwd{
    display: flex;
    margin: -15px 0 15px;
    font-size: 13px;
}

.wrapper .btn{
    
    width: 40%;
    height: 45px;
    background: #058a7f;
    margin: 10px 100px ;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    
}

.luffy{
    box-align: center;
}


.last{
    text-align: center;
    font-size: 14.5px;
    margin: 10px 0;
}

.ooo{
    text-align: center;
    height: 18px;
    font-size: 14.5px;
    padding-top: 10px;
   
}  